:root {
  --header-height: 80px;

  --primary-bg-color: #fff;
  --primary-color1: #41cccc;
  --yellow: #f4b000;
  --border-color: #344054;
  --primary-font-color: #344054;
  --secondary-font-color: #98a2b3;
  --footer-color: #1d2939;
  .dark {
    --primary-font-color: white;
  }
}
