.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  .left {
    .logo {
      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
      }
    }
  }
}
