<nav class="navbar">
  <div class="left">
    <a class="" [routerLink]="['home']" class="logo">
      <img src="/assets/Images/logo.png" alt="logo-img" class="logo-img" />
      ClickTik
    </a>
    <a
      class="nav-link"
      [routerLink]="[RoutePaths.Products]"
      routerLinkActive="active"
    >
      home
    </a>
  </div>

  <div class="right">
    <a
      class="nav-link"
      *ngIf="!AuthService.IsAuthenticated"
      [routerLink]="[RoutePaths.Login]"
      routerLinkActive="active"
    >
      login
    </a>

    <div class="search" *ngIf="AuthService.IsAuthenticated">
      <input
        type="text"
        placeholder="search"
        [(ngModel)]="SearchInput"
        (input)="onSearchInputChange()"
      />
      <i class="fa fa-search"></i>
    </div>

    <a
      class="nav-link cart"
      *ngIf="AuthService.IsAuthenticated"
      routerLinkActive="active"
    >
      <i class="fa fa-shopping-cart"></i>
      <span class="count" *ngIf="CartCount">{{CartCount}}</span>
    </a>

    <a
      class="nav-link"
      *ngIf="AuthService.IsAuthenticated"
      routerLinkActive="active"
      [routerLink]="[RoutePaths.Products]"
    >
      account
      <img
        [src]="CurrentUser.image? CurrentUser.image: 'assets/Images/default-pp.png'"
      />
    </a>

    <a
      class="nav-link"
      *ngIf="AuthService.IsAuthenticated"
      routerLinkActive="active"
      [routerLink]="[RoutePaths.Login]"
    >
      signout
    </a>
  </div>
</nav>
