.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--header-height);
  border-bottom: 1px solid var(--border-color);
  padding: 0 30px;
  .nav-link {
    color: var(--secondary-font-color);
    text-decoration: none;
    margin-inline-start: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .left {
    display: flex;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: var(--primary-font-color);
      img {
        width: 32px;
        height: 32px;
        object-fit: contain;
        margin-inline-end: 10px;
      }
    }
  }

  .right {
    display: flex;
    align-items: center;
    .search {
      position: relative;
      .fa-search {
        position: absolute;
        top: 5px;
        left: 5px;
        color: var(--secondary-font-color);
        opacity: 0.6;
      }
      input {
        padding: 5px;
        padding-inline-start: 25px;
        border-radius: 4px;
        border-color: 1px solid var(--secondary-font-color);
        outline: none;
        color: var(--secondary-font-color);
      }
    }

    .cart {
      position: relative;
      i {
        font-size: 22px;
      }
      .count {
        position: absolute;
        border-radius: 50%;
        background-color: var(--primary-color1);
        top: -10px;
        right: -9px;
        width: 18px;
        height: 18px;
        text-align: center;
        border: 2px solid white;
        color: black;
      }
    }

    img {
      width: 32px;
      height: 32px;
      object-fit: contain;
      border-radius: 50%;
    }
  }
}
